In [1]:
import pandas as pd

ENROL_URL = "https://raw.githubusercontent.com/dhruv0402/uidai-aadhaar-enrolment-update-analysis/refs/heads/main/data/raw/aadhaar_enrolment_master.csv"
DEMO_URL  = "https://raw.githubusercontent.com/dhruv0402/uidai-aadhaar-enrolment-update-analysis/refs/heads/main/data/raw/aadhaar_demographic_master.csv"
BIO_URL   = "https://raw.githubusercontent.com/dhruv0402/uidai-aadhaar-enrolment-update-analysis/refs/heads/main/data/raw/aadhaar_biometric_master.csv"

enrol = pd.read_csv(ENROL_URL)
demo  = pd.read_csv(DEMO_URL)
bio   = pd.read_csv(BIO_URL)

print(enrol.shape, demo.shape, bio.shape)
enrol.head()
import os

REPO_NAME = "uidai-aadhaar-enrolment-update-analysis"   # ðŸ‘ˆ change this
PROJECT_ROOT = os.path.join(os.getcwd(), REPO_NAME)

print("âœ… Current working directory:", os.getcwd())
print("âœ… Project root:", PROJECT_ROOT)

# Move into notebooks folder if you have it (optional)
# os.chdir(os.path.join(PROJECT_ROOT, "notebooks"))

# We'll use a base path approach instead of chdir ( safer)
!mkdir -p /content/uidai-aadhaar-enrolment-update-analysis/data/raw
!mkdir -p /content/uidai-aadhaar-enrolment-update-analysis/data/processed
print("âœ… raw and processed folders created")

!rm -rf uidai-aadhaar-enrolment-update-analysis
print("âœ… Old folder removed (if it existed)")
!git clone https://github.com/dhruv0402/uidai-aadhaar-enrolment-update-analysis.git
%cd /content/uidai-aadhaar-enrolment-update-analysis



def inspect_df(df, name):
    print(f"\n==================== {name.upper()} ====================")
    print("Shape:", df.shape)
    print("\nColumns:")
    print(df.columns.tolist())
    print("\nData Types:")
    print(df.dtypes)
    print("\nMissing Values (Top 15):")
    print(df.isna().sum().sort_values(ascending=False).head(15))
    display(df.head(5))

inspect_df(enrol, "enrolment")
inspect_df(demo, "demographic")
inspect_df(bio, "biometric")
import numpy as np
import pandas as pd

KEY_COLS = ["date", "state", "district", "pincode"]

def clean_column_names(df):
    df = df.copy()
    df.columns = (
        df.columns.astype(str)
        .str.strip()
        .str.lower()
        .str.replace(r"\s+", "_", regex=True)
    )
    return df

def normalize_text(series):
    s = series.astype(str).str.strip()
    s = s.str.replace(r"\s+", " ", regex=True)
    s = s.str.title()
    s = s.replace({"Nan": np.nan, "None": np.nan, "Null": np.nan, "": np.nan})
    return s

def normalize_district(series):
    s = series.astype(str).str.strip()
    s = s.str.replace(r"\s+", " ", regex=True)
    s = s.str.replace(r"[-_/]+", " ", regex=True)
    s = s.str.replace(r"\s+", " ", regex=True)
    s = s.str.title()
    s = s.replace({"Nan": np.nan, "None": np.nan, "Null": np.nan, "": np.nan})
    return s

def normalize_pincode(series):
    s = series.astype(str).str.strip()
    s = s.replace({"nan": np.nan, "None": np.nan, "null": np.nan, "": np.nan})
    s = s.str.replace(r"\\D", "", regex=True)
    s = s.where(s.str.len() == 6, np.nan)
    return s

(1006029, 7) (2071700, 6) (1861108, 6)
âœ… Current working directory: /Users/dhruvgourisaria/uidai-aadhaar-enrolment-update-analysis/notebooks
âœ… Project root: /Users/dhruvgourisaria/uidai-aadhaar-enrolment-update-analysis/notebooks/uidai-aadhaar-enrolment-update-analysis
mkdir: /content: Read-only file system
mkdir: /content: Read-only file system
âœ… raw and processed folders created
âœ… Old folder removed (if it existed)
Cloning into 'uidai-aadhaar-enrolment-update-analysis'...
remote: Enumerating objects: 20, done.
remote: Counting objects: 100% (20/20), done.
remote: Compressing objects: 100% (11/11), done.
remote: Total 20 (delta 5), reused 20 (delta 5), pack-reused 0 (from 0)
Receiving objects: 100% (20/20), 37.32 MiB | 1.99 MiB/s, done.
Resolving deltas: 100% (5/5), done.
[Errno 2] No such file or directory: '/content/uidai-aadhaar-enrolment-update-analysis'
/Users/dhruvgourisaria/uidai-aadhaar-enrolment-update-analysis/notebooks

==================== ENROLMENT ====================
Shape: (1006029, 7)

Columns:
['date', 'state', 'district', 'pincode', 'age_0_5', 'age_5_17', 'age_18_greater']

Data Types:
date              object
state             object
district          object
pincode            int64
age_0_5            int64
age_5_17           int64
age_18_greater     int64
dtype: object

Missing Values (Top 15):
date              0
state             0
district          0
pincode           0
age_0_5           0
age_5_17          0
age_18_greater    0
dtype: int64

,date,state,district,pincode,age_0_5,age_5_17,age_18_greater
0,02-03-2025,Meghalaya,East Khasi Hills,793121,11,61,37
1,09-03-2025,Karnataka,Bengaluru Urban,560043,14,33,39
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,29,82,12
3,09-03-2025,Uttar Pradesh,Aligarh,202133,62,29,15
4,09-03-2025,Karnataka,Bengaluru Urban,560016,14,16,21

==================== DEMOGRAPHIC ====================
Shape: (2071700, 6)

Columns:
['date', 'state', 'district', 'pincode', 'demo_age_5_17', 'demo_age_17_']

Data Types:
date             object
state            object
district         object
pincode           int64
demo_age_5_17     int64
demo_age_17_      int64
dtype: object

Missing Values (Top 15):
date             0
state            0
district         0
pincode          0
demo_age_5_17    0
demo_age_17_     0
dtype: int64

,date,state,district,pincode,demo_age_5_17,demo_age_17_
0,01-03-2025,Uttar Pradesh,Gorakhpur,273213,49,529
1,01-03-2025,Andhra Pradesh,Chittoor,517132,22,375
2,01-03-2025,Gujarat,Rajkot,360006,65,765
3,01-03-2025,Andhra Pradesh,Srikakulam,532484,24,314
4,01-03-2025,Rajasthan,Udaipur,313801,45,785

==================== BIOMETRIC ====================
Shape: (1861108, 6)

Columns:
['date', 'state', 'district', 'pincode', 'bio_age_5_17', 'bio_age_17_']

Data Types:
date            object
state           object
district        object
pincode          int64
bio_age_5_17     int64
bio_age_17_      int64
dtype: object

Missing Values (Top 15):
date            0
state           0
district        0
pincode         0
bio_age_5_17    0
bio_age_17_     0
dtype: int64

,date,state,district,pincode,bio_age_5_17,bio_age_17_
0,01-03-2025,Haryana,Mahendragarh,123029,280,577
1,01-03-2025,Bihar,Madhepura,852121,144,369
2,01-03-2025,Jammu and Kashmir,Punch,185101,643,1091
3,01-03-2025,Bihar,Bhojpur,802158,256,980
4,01-03-2025,Tamil Nadu,Madurai,625514,271,815

In [2]:
def clean_uidai_dataset(df, name):
    df = df.copy()

    # Column names
    df = clean_column_names(df)

    # Required columns check
    missing = [c for c in KEY_COLS if c not in df.columns]
    if missing:
        raise ValueError(f"{name}: Missing required columns: {missing}")

    # Date parsing
    df["date"] = pd.to_datetime(df["date"], errors="coerce")
    df = df.dropna(subset=["date"])

    # Normalize text fields
    df["state"] = normalize_text(df["state"])
    df["district"] = normalize_district(df["district"])
    df["pincode"] = normalize_pincode(df["pincode"])

    # Drop if state/district missing
    df = df.dropna(subset=["state", "district"])

    # Numeric conversion
    count_cols = [c for c in df.columns if c not in KEY_COLS]
    for c in count_cols:
        df[c] = pd.to_numeric(df[c], errors="coerce")

    df[count_cols] = df[count_cols].fillna(0)

    # Remove duplicates safely
    df = df.drop_duplicates()
    df = df.groupby(KEY_COLS, as_index=False)[count_cols].sum()

    return df

In [3]:
enrol_clean = clean_uidai_dataset(enrol, "enrolment")
demo_clean  = clean_uidai_dataset(demo, "demographic")
bio_clean   = clean_uidai_dataset(bio, "biometric")

print("Cleaned shapes:")
print("Enrolment :", enrol_clean.shape)
print("Demographic:", demo_clean.shape)
print("Biometric :", bio_clean.shape)

Cleaned shapes:
Enrolment : (319429, 7)
Demographic: (675567, 6)
Biometric : (870862, 6)

In [4]:
GROUP_KEYS = ["state", "district", "month"]

def aggregate_district_month(df):
    df = df.copy()

    # Month extraction (YYYY-MM)
    df["month"] = df["date"].dt.to_period("M").astype(str)

    exclude = {"date", "pincode", "month", "state", "district"}
    value_cols = [c for c in df.columns if c not in exclude]

    out = (
        df
        .groupby(GROUP_KEYS, as_index=False)[value_cols]
        .sum()
    )

    return out

enrol_dm = aggregate_district_month(enrol_clean)
demo_dm  = aggregate_district_month(demo_clean)
bio_dm   = aggregate_district_month(bio_clean)

In [5]:
for df in [enrol_dm, demo_dm, bio_dm]:
    df.drop(columns=["dataset"], errors="ignore", inplace=True)

In [6]:
# Force string type
enrol_dm["state"] = enrol_dm["state"].astype(str)
enrol_dm["district"] = enrol_dm["district"].astype(str)

# Remove fake UIDAI placeholder rows
enrol_df_month = enrol_dm[
    (enrol_dm["state"] != "100000") &
    (enrol_dm["district"] != "100000")
].reset_index(drop=True)

In [10]:
os.makedirs("data/processed", exist_ok=True)

enrol_df_month.to_csv("../data/processed/enrol_df_month.csv", index=False)
demo_dm.to_csv("../data/processed/demo_dm.csv", index=False)
bio_dm.to_csv("../data/processed/bio_dm.csv", index=False)

print("âœ… Final processed datasets written:")
print(" - enrol_df_month.csv")
print(" - demo_dm.csv")
print(" - bio_dm.csv")

âœ… Final processed datasets written:
 - enrol_df_month.csv
 - demo_dm.csv
 - bio_dm.csv

In [11]:
enrol_df_month.shape,demo_dm.shape,bio_dm.shape

((10961, 6), (11711, 5), (11559, 5))